<div class="row border border-dark">

  <div class="col coluna-conteudo-card">
    <div class="row linha-tag-post-card">
      <div class="col">
        <h5 class="text-success">
          <%= card.tag.description %> <!--
          * card = Pois cada partial tem uma variável local com o seu nome (partial _card.html.erb)
          ex.: render(partial: "card", object: card)
          * Aqui renderizamos na home a partial card(o arquivo _card.html.erb) e passamos como objeto a variável de instância criada no controller card -->
        </h5>

      </div>
    </div>

    <div class="row linha-titulo-post-card">
      <div class="col">
        <h4>
          <%= card.title %>
        </h4>
      </div>
    </div>

    <div class="row linha-data-criacao-post-card">
      <div class="col text-muted">
        <%= I18n.l(card.created_at, format: :short) %>
      </div>
    </div>

    <div class="row linha-conteudo-post-card">
      <div class="col">
        <%= card.body.truncate(120) %>
      </div>
    </div>

    <div class="row linha-link-post-card">
      <div class="col">
        <a href="<%= post_path(card) %>"> Continue reading...  </a>
      </div>
    </div>
  </div>

  <div class="col-4 coluna-imagem-card">
    <img class="card-img-top" src="" alt="Card image cap">
  </div>

</div>
