<style>
  .linha-post-principal .row{
    padding-left: 15px;
    margin: 10px;
  }

  .linha-cards {
    margin-top: 20px;
  }
</style>

<p id="notice"><%= notice %></p>

<div class="container"> <!--Inicio da div container-->

  <div class="row">
    <% @tags.each do |tag| %>
      <div class="col">
        <div class="px-2 py-2">
          <a href="<%=posts_path(tag_id: tag.id)%>"> <%= tag.description %> </a>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row linha-post-principal">
    <div class="col bg-dark text-white">

      <div class="row linha-titulo-post-principal">
        <div class="col-6 py-2">
          <h2>
            <%= @last_post.title %>
          </h2>
        </div>
      </div>

      <div class="row linha-conteudo-post-principal">
        <div class="col-6">
          <%= @last_post.body.truncate(300) %>
        </div>
      </div>

      <div class="row linha-link-post-principal">
        <div class="col-6 py-2">
          <a style="color:white !important" href="<%=post_path(@last_post)%>"> Continue reading... </a>
        </div>
      </div>

    </div>
  </div>

  <div class="row linha-cards">

    <div class="col-6 border border-dark">
      <%= render(partial: "card", object: @post_card1) %>
    </div>

    <div class="col-6 border border-dark">
      <%= render(partial: "card", object: @post_card2) %>
    </div>

  </div>

</div>
 <!--Fechamento da div container-->
