<style>
  .linha-primeiro-post .row{
    padding-left: 15px;
    margin: 10px;
  }

  .linha-cards {
    padding-top: 20px;
  }
</style>

<p id="notice"><%= notice %></p>

<div class="container">

  <div class="row">
    <% @tags.each do |tag| %>
      <div class="col">
        <div class="px-2 py-2">
          <a href="<%=posts_path(tag_id: tag.id)%>"> <%= tag.description %> </a>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row linha-primeiro-post">
    <div class="col bg-dark text-white">
      <div class="row linha-titulo-post">
        <div class="col-6 py-2">
          <h2>
            <%= @last_post.title %>
          </h2>
        </div>
      </div>

      <div class="row linha-conteúdo-post">
        <div class="col-6">
          <%= @last_post.body.truncate(300) %>
        </div>
      </div>

      <div class="row linha-link-post">
        <div class="col-6 py-2">
          <a style="color:white !important" href="<%=post_path(@last_post)%>"> Continue reading... </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row linha-cards">
    <div class="col-6 "> 
      <div class="card" style="width: 18rem;">
        <img class="card-img-right" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>



</div> <!--Fechamento da div container-->



