<style>
  .linha-titulo-blog {
    padding-top: 15px;
  }

</style>


<!DOCTYPE html>
<html>
  <head>
    <title>Blog Tabaresu 2.0</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>

    <div class="row flex-nowrap text-center linha-titulo-blog">
      <div class="col">
        <%= link_to root_path, class: "text-dark" do %>
          <h1 class="">
            Blog Tabaresu 2.0
          </h1>
        <% end %>
      </div>
    </div>



    <%= yield %>
  </body>
</html>
